!<% include blocks/includes.ejs %>

<% include blocks/header.ejs %>

<div class = 'container'>
<h1>Hello index</h1>
</div>

<div class = 'container'>

<p>Hello <%= data.email %></p>
<p>Password: <%= data.pass %></p>
<p>save: <%= data.check %></p>
</div>

</body>


</html>