<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About route</title>
</head>
<body>
    <h1>Hello about id: <%= newsId %></h1> 
    <ul>
    <% array.forEach(element => { %>
     <li><%= element %></li> 
    <% }); %>
    </ul>

    <h3>Title: <%= obj.title %> <% obj.num %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Neque iure vero animi ullam officia nulla molestias alias 
        consequuntur, eius quibusdam labore 
        excepturi adipisci culpa dolorum! Eveniet 
        porro facilis velit voluptate?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Neque iure vero animi ullam officia nulla molestias alias 
                consequuntur, eius quibusdam labore 
                excepturi adipisci culpa dolorum! Eveniet 
                porro facilis velit voluptate? <%= newParam %></p>
    
</body>
</html>